body {
  font: menu;
  margin : 0;
  padding : 0;
}

.dashboard {
  background-color : #fff;

  & > ul {
    list-style-type : none;
    margin : 0;
    padding : 0;

    & > li {
      margin : 0;
      padding : 1em;
      min-height : 5em;

      &:nth-child(2n+1) {
        background-color : #f7f7f7;
      }

      & > div {
        & > div.noData {
          &:after {
            display : block;
            content : '...';
            text-align : center;
            opacity : .5;
          }
        }

        & > div {
          height : 20em;
        }

        & > header {
          margin-bottom : 1em;
          display : flex;

          div {
            overflow : hidden;
            white-space : nowrap;

            &.left {
              flex : 1 1 auto;
              max-width : 800px;
            }

            &.right {
              flex : 1 1;
              text-align : right;
            }

            span.label {
              font-weight : bold;
            }

            table {
              float : right;
              font-size : inherit;

              td {
                padding : .2em;
              }
            }
          }
        }
      }
    }
  }
}
