body {
  font: menu;
}

.dashboard {
  & > ul {
    list-style-type : none;
    margin : 0;
    padding : 0;

    & > li {
      margin : 0;
      padding : 1em;
      min-height : 5em;

      & > div {
        & > div.noData {
          &:after {
            display : block;
            content : '...';
            text-align : center;
            opacity : .5;
          }
        }

        & > header {
          margin-bottom : 1em;
          display : flex;

          div {
            overflow : hidden;
            white-space : nowrap;

            &.left {
              flex : 1 1 auto;
              max-width : 800px;
            }

            &.right {
              flex : 1 1;
              text-align : right;
            }

            & > span {
              display : inline-block;
              overflow : hidden;
              text-overflow: ellipsis;
              line-height : 2;

              &.label {
                font-weight : bold;
              }
              &.name {

              }
              &.value {
                display : block;
              }
              &.minmax {
                display : block;
              }
            }
          }
        }
      }
    }
  }
}
